*{
	margin:0;
	padding: 0;
}
php{
	text-align: center;
}

html{
	background-color: #1164B4;
	font-family: Arial;

}

body{
	text-align: center;
		
}

h1{color:#F46A2A; font-size: 60px;
	padding: 0 0 20px 0;
}
h3{

	color:#68FF18; font-size: 20px;
	padding: 0 0 20px 0;

}



p{
	color: #8DF42A;
	font-size: 15px;
	padding: 0 30px 30px 30px;

}


label, input {
	width: 70%;
	display: block;
	padding: 5px;
	
}